* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gibson, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
